*{
    margin-top: 10px;
    margin-left: 10px;
}
.row{
    width: 320px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.btn{
    height: auto;
    width: 70px;
    margin-top: 20px;
}